@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Poppins:wght@500&display=swap');

*{
    font-family: 'Mulish', sans-serif;
    font-family: 'Poppins', sans-serif;
}

#root{
    text-align: center;
}